# Rojo / Roblox
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Tooling
.rojo/
*.log

# macOS / Windows
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/

# Packages/build artifacts
node_modules/
out/
build/
dist/
